@import '@/styles/base/index.scss';

.button {
  display: block;
  margin: 0 auto;
  border-radius: 2px;
  outline: none;
  border: none;

  &.btn-normal {
    width: 355px;
    height: 39px;
    font-size: 16px;
  }

  &.btn-small {
    height: 24px;
    padding: 0 6px;
    line-height: 24px;
    font-size: 14px;
  }

  &.btn-primary {
    color: #fff;
    background-color: #ff9800;
  }

  &.btn-green {
    color: green;
    background-color: #dcdcdd;
  }
}
